<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Login</title>
</h:head>
<h:body>
    <style type="text/css">
        .ui-panelgrid .ui-widget {
            text-align: center !important;
            align-items: center;
            align-content: center;
            horiz-align: center;
        }
    </style>

    <div style="text-align: center; align-content: center; margin-top: 10%">
        <h:form prependId="false">

            <p:panelGrid columns="1">
                <h3>login or <p:commandButton action="sign-up.xhtml" value="sign up"/></h3>

                <p:outputLabel value="Login failed!" rendered="${!empty param['error']}" />

                <p:inputText id="username" placeholder="User name" />
                <p:password id="password" placeholder="Password" />

                <p:commandButton value="Login" ajax="false" />
            </p:panelGrid>

        </h:form>
    </div>
</h:body>
</html>
