<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Sign-up</title>
</h:head>
<h:body>
    <style type="text/css">
        .ui-panelgrid .ui-widget {
            text-align: center !important;
            align-items: center;
            align-content: center;
            horiz-align: center;
        }
    </style>

    <div style="text-align: center; align-content: center; margin-top: 10%">
        <h:form>
            <h:panelGrid columns="1">

                <p:outputLabel for="login" value="Login:" />
                <p:inputText id="login" value="#{accountController.user.login}" />

                <p:outputLabel for="password" value="Password:" />
                <p:inputText id="password" value="#{accountController.user.passwordHash}" />

            </h:panelGrid>
            <p:commandButton action="#{accountController.register()}" value="Submit" icon="pi pi-check"/>
        </h:form>
    </div>
</h:body>
</html>
