<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags">

<h:head>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
</h:head>
<h:body>
    <style type="text/css">
        .ui-datatable .ui-datatable-header {
            text-align: right !important;
        }

        .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
            display: none;
        }
    </style>

    <h:form>
        <p:growl id="messages"/>

        <p:menubar>
            <p:menuitem value="Taskmanager" url="#"/>

            <p:menuitem value="Tasks" url="tasks.xhtml"/>

            <p:menuitem value="Projects" url="projects.xhtml"/>

            <sec:authorize access="hasRole('ADMIN')">
                <p:menuitem value="Users" url="users.xhtml"/>
            </sec:authorize>

            <f:facet name="options">
                <p:commandButton type="button" value="Logout" icon="pi pi-home" />
            </f:facet>
        </p:menubar>
    </h:form>

    <div style="padding-left: 10%;
                padding-right: 10%;
                align-content: center;
                text-align: center;
                margin-top: 7%">

        <h:form id="form">
            <p:dataTable id="tableStateDT" var="user" value="#{userController.users}" widgetVar="usersTable" multiViewState="true"
                         rows="10" paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         selectionMode="single" selection="#{userController.selectedUser}" rowKey="#{user.id}"
                         emptyMessage="No projects found with given criteria" filteredValue="#{userController.filteredUsers}">

                <f:facet name="header">
                    <p:outputPanel style="text-align: center">
                        <h:outputText value="User list" style="font-size: larger"/>
                    </p:outputPanel>
                    <p:outputPanel style="display: flex; justify-content: space-between">
                        <div style="display: flex; justify-content: flex-start">
                            <p:commandButton update=":userEditDetail"
                                             value="Add User"
                                             oncomplete="PF('userEditDialog').show()"
                                             style="margin-right:20px;">

                                <f:actionListener binding="#{userController.setEditingUser(userController.addingUser)}"/>
                                <f:actionListener binding="#{userController.setUserAction('User add')}"/>
                            </p:commandButton>
                        </div>
                        <div style="display: flex; justify-content: flex-end; align-items: center">
                            <h:outputText value="Search all fields:"/>
                            <p:inputText id="globalFilter" onkeyup="PF('usersTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                        </div>
                    </p:outputPanel>
                </f:facet>

                <p:ajax event="rowSelect" update=":form:userDetail" oncomplete="PF('userDialog').show()" />

                <p:column headerText="Login" filterBy="#{user.login}" sortBy="#{user.login}" filterMatchMode="startsWith">
                    <h:outputText value="#{user.login}" />
                </p:column>

                <p:column headerText="Roles" filterBy="#{user.roles}" sortBy="#{user.roles}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('usersTable').filter()" style="width:100%; box-sizing: border-box;" >
                            <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{userController.roles}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <p:repeat var="role" value="#{user.roles}">
                        <h:outputText value="#{role}" /> &#160;
                    </p:repeat>
                </p:column>

                <p:column headerText="Actions">
                    <h:outputText value="#{userController.setRemovingUser(user)}" style="display: none"/>
                    <p:commandButton icon="pi pi-pencil" style="margin-right:20px;" title="Edit user"
                                     update=":userEditDetail"
                                     oncomplete="PF('userEditDialog').show()">
                        <f:actionListener binding="#{userController.setEditingUser(user)}"/>
                        <f:actionListener binding="#{userController.setUserAction('User edit')}"/>
                    </p:commandButton>
                    <p:commandButton action="#{userController.deleteUser()}"
                                     icon="pi pi-times"
                                     title="Delete user"/>
                </p:column>
            </p:dataTable>

            <p:dialog header="User Info" widgetVar="userDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="userDetail" style="text-align:center;">
                    <p:panelGrid columns="2" rendered="#{not empty userController.selectedUser}" columnClasses="label,value">
                        <f:facet name="header">
                            <h:outputText value="#{user.login}" />
                        </f:facet>

                        <h:outputText value="id:" />
                        <h:outputText value="#{userController.selectedUser.id}" />

                        <h:outputText value="Login:" />
                        <h:outputText value="#{userController.selectedUser.login}" />

                        <h:outputText value="Roles:" />
                        <p:repeat var="role" value="#{user.roles}">
                            <h:outputText value="#{role}" /> &#160;
                        </p:repeat>
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
    </div>

    <p:dialog widgetVar="userEditDialog" modal="true" showEffect="fade" resizable="false">
        <f:facet name="header">
            <h:outputText value="Action"/>
        </f:facet>
        <p:outputPanel id="userEditDetail" style="text-align:center;">
            <p:panelGrid  columns="2" columnClasses="label,value">
                <f:facet name="header">
                    <h:outputText value="#{userController.userAction}" />
                </f:facet>
                <h:form>
                    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                        <p:outputLabel for="login" value="Login:" />
                        <p:inputText id="login" value="#{userController.editingUser.login}" />

                        <p:outputLabel for="password" value="Password:" />
                        <p:inputText id="password" value="#{userController.editingUser.passwordHash}" />

                        <p:outputLabel for="roles" value="Roles:" />
                        <p:selectManyCheckbox id="roles" value="#{userController.editingUser.roles}">
                            <f:selectItem itemLabel="Admin" itemValue="#{userController.roles.get(0)}" />
                            <f:selectItem itemLabel="User" itemValue="#{userController.roles.get(1)}" />
                        </p:selectManyCheckbox>
                    </h:panelGrid>

                    <p:commandButton action="#{userController.updateUser()}" value="Submit" icon="pi pi-check"/>
                </h:form>
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
</h:body>
</html>
